/*COMMON*/
body {
    min-width: 320px; /*non fa andare a capo il burger menu quando stringo lo schermo*/
    
}
img {
    width: 100%;
}
.primary {
    padding-bottom: 70px;
    color: #2d3e50;
}

.secondary {
    background-color: #1abc9c;
    color: white;
    
}

.intro {
    text-align: center;
    padding: 30px 0;
}

.star {
   margin: 10px 0;
}

.star::before, .star::after {
    content: "";
    display: inline-block;
    width: 90px;
    border-bottom: 2px solid #2d3e50;;
    vertical-align: middle;
    
}

.secondary .star::before, .secondary .star::after {
    border-color: white;
}

.star i {
    margin: 0 10px;
}

/*HEADER*/
/*nav*/
.header_nav {
    background-color: #2d3e50;
    color: white;
    padding: 20px 0;
}

.header_nav ul {
    margin: 0;
    padding: 0;
}

.header_nav li {
    display: inline-block;
    margin-right: 16px;
}

.header_nav li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}

.header_nav .brand, .header_nav .burger {
    font-size: 16px;
}

.brand {
    text-transform: uppercase;
    font-weight: 500;
}

/*fine nav*/


.jumbo {
    background-color: #1abc9c;
    padding: 50px 0;
}

.jumbo img {
    width: 20%;
}

.jumbo h1, .jumbo p {
    text-transform: uppercase;
}

/*FINE HEADER*/

/*MAIN*/

/*per distanziare le colonne dalla stella nella sezione portfolio*/
/* .portfolio [class*="col-"] {   
    margin-top: 30px;
}  */


.box-image {
    margin-bottom: 30px;
}



.secondary a {
    display: inline-block;
    color: white;
    padding: 30px 0;
}

.button_area {
    padding: 30px;
    text-align: center;
}

.button {
    
    
    background-color: #1abc9c;
    color: white;

}

#button-send {
    padding-top: 20px;
}

.form-group input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-radius: 0%;
}

.form-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
.form-group input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: black;
}
  
.form-group input::-ms-input-placeholder{ /* Microsoft Edge */
    color: black;
}

/*FINE MAIN*/

/*FOOTER*/
.pre_footer {
    background-color:#3a546e;
    color: white;
    text-align: center;
}

.after_footer {
    background-color: #2d3e50;
    color: white;
    text-align: center;
}

.icon {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    line-height: 30px;
    color: white;
    
}

.icon:hover {
    color: #1abc9c;
}

.inner-col {
    padding: 30px;
}
.inner-col p span {
    color: #1abc9c;
}

/*FINE FOOTER*/