/*HEADER*/

nav {
    background-color: #2d3e50;
}
.row.menu {
    color: white;
}

.burger i  {
    display: inline-block;
    text-align: right;
}

.jumbo {
    background-color: #1abc9c;
    height: 450px;
}

/*FINE HEADER*/