/*HEADER*/

nav {
    background-color: #2d3e50;
}
.row.menu {
    color: white;
}

.burger i  {
    display: inline-block;
    text-align: right;
}

.jumbo {
    background-color: #1abc9c;
    height: 450px;
}

/*FINE HEADER*/

/*MAIN*/

.intro {
    text-align: center;
    padding: 30px 0;
}

.portfolio [class*="col-"] {
    height : 70px; 
    background-color: red;
    border: 1px solid white;
}

/*FINE MAIN*/